<!-- A PLACER OU TU VEUX -->

{% for block in section.blocks %}
        	{% if block.settings.product-handle == product.handle %}
          		<p>{{ block.settings.txt }}</p>
        	{% endif %}
          {% endfor %}

<!-- FIN -->



<!-- SCHEMA BLOCK -->

,
  "blocks" : [
	{
		"type": "nimporte",
		"name": "texte specifique",
		"settings": [
			{
				"type": "product",
				"label": "Produit sélectionné",
				"id": "product-handle"
			},
			{
				"type": "text",
				"label": "texte spécifique à afficher",
				"id": "txt",
				"default": "ceci est un texte à afficher oklm"
			}
		]
	}

<!-- FIN -->
